certifi
click
colorama
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dateutil
python-dotenv
sib-api-v3-sdk
six
SQLAlchemy
SQLAlchemy-serializer
urllib3
waitress
Werkzeug
WTForms
