certifi==2021.10.8
click==8.0.4
colorama==0.4.4
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
python-dateutil==2.8.2
python-dotenv==0.19.2
sib-api-v3-sdk==7.4.0
six==1.16.0
SQLAlchemy==1.4.31
SQLAlchemy-serializer==1.4.1
urllib3==1.26.8
waitress==2.0.0
Werkzeug==2.0.3
WTForms==3.0.1
