form.form {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 450px;
    background-color: #353b48;
    border-radius: 15px;
    padding: 10px;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form p input[type="checkbox"]{
    display: inline-block;
}

h1 {
    margin-top: 4vw;
    text-align: center;
}

.form-control {
    border-radius: 15px;
}

.submit_btn{
    margin-left: calc(50% - 40px);
    border-radius: 15px;
}

.reg_ref{
    color: #fff;
}

.reg_ref a:hover{
    color: #dcdde1;
}

