.rounds ul{
    position: absolute;
    z-index: 100;
    display: flex;
}

.rounds ul li {
    list-style: none;
    margin: 0 40px;
}

.game_session{
    position: relative;
    margin: 10px;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #000;
    font-size: 16pt;
    min-height: 100px;
    max-width:860px;
    left: calc(50% - 430px)
}

body{
    text-align: center;
}

.game_label{
    font-size: 18pt;
    font-weight: 500;
}
