.game-history{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-session{
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #000;
    width: 90%;
    font-size: 3vw;
}

.rounds{
    display: flex;
    flex-wrap: wrap;
}

.rounds-element{
    padding: 0px 5px;
    flex: 0 1 20%;
}

body{
    text-align: center;
}

.game-label{
    font-size: 5vw;
    font-weight: 500;
}

.date-label{
    font-size: 4vw;
}

.user-info{
    padding-top: 10px;
    display: block;
}

.info-label{
    font-size: 18pt;
}