html, body {
    height: 100%;
    width: 100%;
}

.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

.block {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
  }
  
  .block__column {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  
 .block__logo{
     padding: 0px 0px 0px 1rem;
 }

 .block__profilelogin{
     padding: 0px 1rem 0px 0px;
 }
  
  .block__social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
  
  .social-menu-element a:hover {
    -webkit-transform: rotate(0deg) skew(0deg) translate(0, -10px);
            transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu-element a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
    -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu-element i {
    color: #000000;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .social-menu-element i:hover {
    color: #ffffff;
  }
  .social-menu-element a:hover, .social-menu-element a:visited, .social-menu-element a:link, .social-menu-element a:active {
    text-decoration: none;
  }
  .social-menu-element:nth-child(1) a:hover {
    background-color: #3b5999;
  }
  .social-menu-element:nth-child(2) a:hover {
    background-color: #55acee;
  }
  .social-menu-element:nth-child(3) a:hover {
    background-color: #e4405f;
  }

.block__signup{
    display: inline;
}
.block__login{
    display: inline;
}

.player {
    max-width: 100%;
    min-height: 700px;
    max-height: 800px;
    overflow: auto;
}

.wrap-for-panorama {
    position: relative;
    max-width: 100%;
    min-height: 700px;
    max-height: 810px;
    margin: 10px;
    padding:2px;
    display: flex;
    flex-direction: column;
}


.game-info{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
    z-index: 1;
}

.game-status {
    width: 80px;
    height: 55px;
    margin: 10px;
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destination {
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    padding: 0.5em 0.5em;
    margin: 10px;
    border-radius: .30rem;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.round {
    font-size: 16pt;
}

.round-number {
    font-size: 16pt;
}


.complete-round {
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border-radius: 100px;
}

.dropdown-menu{
    z-index: 100;
}



@media screen and (max-width: 786px){
    
    .destination{
        font-size: 20px;
    }

    .round{
        font-size: 20px;
    }
    .round-number{
        font-size: 20px;
    }
}

@media screen and (max-width: 425px){
    
    .destination{
        font-size: 17px;
    }

    .round{
        font-size: 17px;
    }
    .round-number{
        font-size: 19px;
    }
}


@media screen and (max-width: 800px){
    .complete-round {
        position: static;
        width: 240px;
        height: 60px;
        border-radius: 100px;
        margin: 10px 0;
        align-self: center;
    }
    
}

@media screen and (max-height: 700px){
    
    .wrap-for-panorama{
        height: 90%;
    }
}



