html, body {
    height: 100%;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.player {
    max-width: 100%;
    min-height: 700px;
    max-height: 800px;
    overflow: auto;
}

.wrap_for_panorama {
    position: relative;
    max-width: 100%;
    min-height: 700px;
    max-height: 810px;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 10px;
    padding:2px;
}

.game_status {
    width: 80px;
    height: 55px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destination {
    position: absolute;
    right: 100px;
    top: 15px;
    z-index: 99;
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    padding: .5rem 3rem;
    border-radius: .30rem;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.destination_name {
    margin: 0
}

.round {
    position: absolute;
    top: 0;
    font-size: 16pt;
}

.round_number {
    position: absolute;
    bottom: 0;
    font-size: 16pt;
}

.wrap_for_btn {
    min-width: 800px;
    max-width: 1200px;
    height: 75px;
    margin-right:350px;
    margin-left: 170px;
    margin-top: 10px;
    position: relative;
    padding: 2px;
}

.complete_round {
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 2%;
    left: 0.4%;
    border-radius: 100px;
}

.dropdown-menu{
    z-index: 100;
}

.block {
    min-height: 65px;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    
  }
  
  .block__column {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  
 .block__logo{
     margin: 0px 0px 0px 10px;
 }

 .block__profilelogin{
     margin: 0px 10px 0px 0px;
 }
  
  .block__social-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 150px;
            flex: 0 1 150px;
  }
  
  .social-menu-element a:hover {
    -webkit-transform: rotate(0deg) skew(0deg) translate(0, -10px);
            transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu-element a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
    -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu-element i {
    color: #000000;
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .social-menu-element i:hover {
    color: #ffffff;
  }
  .social-menu-element a:hover, .social-menu-element a:visited, .social-menu-element a:link, .social-menu-element a:active {
    text-decoration: none;
  }
  .social-menu-element:nth-child(1) a:hover {
    background-color: #3b5999;
  }
  .social-menu-element:nth-child(2) a:hover {
    background-color: #55acee;
  }
  .social-menu-element:nth-child(3) a:hover {
    background-color: #e4405f;
  }
