html, body {
    height: 100%;
    width: 100%;
}

.navbar{
    background-color: #000;
}

.player {
    max-width: 100%;
    min-height: 700px;
    max-height: 800px;
    overflow: auto;
}

.wrap_for_panorama {
    position: relative;
    max-width: 100%;
    min-height: 700px;
    max-height: 810px;
    margin-right: 12px;
    margin-left: 10px;
    margin-top: 10px;
    padding:2px;
}

.game_status {
    width: 160px;
    height: 55px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
}

.destination {
    position: absolute;
    right: 180px;
    top: 15px;
    z-index: 99;
    box-shadow: 0 2px 20px 0 rgba(26,26,26,0.1);
    background: #fff;
    padding: .5rem 3rem;
    border-radius: .30rem;
    display: flex;
    align-items: center;
    font-size: 16pt;
}

.destination_name {
    margin: 0
}

.round {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 16pt;
}

.round_number {
    position: absolute;
    bottom: 0;
    left: 18%;
    font-size: 16pt;
}

.score {
    position: absolute;
    top: 0;
    right: 10%;
    font-size: 16pt;
}

.score_amount{
    position: absolute;
    bottom: 0;
    right: 22%;
    font-size: 16pt;
}

.wrap_for_btn {
    min-width: 800px;
    max-width: 1200px;
    height: 75px;
    margin-right:350px;
    margin-left: 170px;
    margin-top: 10px;
    position: relative;
    padding: 2px;
}

.complete_round {
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 2%;
    left: 0.4%;
    border-radius: 100px;
}

.dropdown-menu{
    z-index: 100;
}

.social-menu ul {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}


.social-menu ul li i{
    color: #000000;
    font-size: 25px;
    line-height: 40px;
    transition: .5s;
}
.social-menu ul li i:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

