<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Peterburg Explorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=40c4a6c4-78d6-4b90-b438-142071353c41"></script>
    <script src="https://kit.fontawesome.com/4da3397637.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Petersburg Explorer</span>
        {% if current_user.is_authenticated %}
            <span><a class="navbar-brand" href="/logout">
                    <i class="fas fa-user-circle"></i>
                    {{ current_user.name }}
            </a>
                </span>
        {% else %}
            <span>
            <a href="/login" class="btn btn-outline-light btn-sm">Log in</a>
        </span>
        {% endif %}
    </div>


</nav>

<div class="sidenav">
    <a href="#about">Petersburg Explorer</a>
    <a href="#services">Техподдержка</a>
    <a href="#contact">О проекте</a>
</div>



{% block content %}
{% endblock %}

</body>