{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="alert alert-warning" align="center" role="alert">
        <img src="../static/img/error.png" alt="" width="50" height="50">
        Произошла неизвестная ошибка
        <img src="../static/img/error.png" alt="" width="50" height="50">
    </div>
    <div align="center"><b>Искренне просим у вас за это прощения.</b></div>
    <div align="center"><b>Мы обязательно это исправим.</b></div>
    <a href="/" class="btn btn-outline-dark">
        Вернуться в главное меню
    </a>
</div>
{% endblock %}