{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="../static/css/info.css" type="text/css">
</head>

<h1 align="center">Petersburg Explorer</h1>

<div class="container" style="left: 50%;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="font-size: 15pt;">
            <p>
                <b>Petersburg Explorer</b> - это место, где вы можете узнать много нового, проверить свою
                эрудицию или просто развлечься, угадывая панорамы Санкт-Петербурга. Это отдых, совмещенный с пользой для
                вашего кругозора и мировосприятия. Это необычный и очень эффективный способ выучить номенакулатуру по
                местам
                северной столицы России.
            </p>
            <p>
                Чтобы начать играть, необходимо зарегистрироваться.
            </p>
            <p>
                Пройдя этап регистрации, вы можете начать играть, нажав кнопку "Играть".
            </p>
            <p>
                Итак, вы в игре. В правом верхнем углу написано название одного из мест Санкт-Петербурга, но его нет на
                панораме! Ничего страшного. Вам просто необходимо дойти до указанного пункта и нажать кнопку "Завершить
                раунд". Если вы не знаете, где находится это место, попробуйте свои силы в другом раунде, у вас
                обязательно все получится, ибо их целых 4! Чем ближе вы будете к указанному объекту, тем больше вам
                дадут очков.
            </p>
            <p>
                Закончив игру, перед вами будет высвечен результат.
            </p>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="../static/img/info.jpg">
        </div>

    </div>

</div>


<div class="footer" align="center">
    <a href="https://github.com/dmtrkv/Petersburg_Explorer"><i class="fab fa-github"></i></a>
</div>


{% endblock %}
