{% extends "base.html" %}

{% block content %}
<div class="wrap_for_panorama">
    <div class="game_status">
        <div class="round">
            Раунд
        </div>
        <div class="round_number">
            {{ round }}
        </div>
        <div class="score">
            Очки
        </div>
        <div class="score_amount">
            {{ score }}
        </div>
    </div>
    <div class="destination">
        <div class="destination_name">
            {{ destination }}
        </div>
    </div>
    <div id="player1" class="player"></div>
    <form class="complete_btn_form" method="post">
        <button type="submit" id="complete_btn" class="btn btn-success complete_round pull-right">
        <i class="fas fa-check-square"></i>
        Завершить раунд
    </button>
    </form>
</div>



<div class="social">

    <a class="soc" href="#vk">
        <i class="fab fa-vk "></i>
    </a>
    <a class="soc" href="#telegram">
        <i class="fab fa-telegram"></i>
    </a>
</div>

{% endblock %}
