{% extends "base.html" %}

{% block content %}

<h1>История игр</h1>
{% for item in game_sessions%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Игрок - {{item.user.name}}, Дата сессии - {{item.date}}
    </div>

    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}


</div>
{% endfor %}
{% endblock %}